encryption = "age"
[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1r9dsjxskcu023jjay3xew4gem9ykmx9jcd7mdc2hk2h7w77r24rqfxq7j5"

[hooks.read-source-state.pre]
script = ".local/share/chezmoi/.decrypt-private-key.sh"
